@model WebCRMSkillProfi.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Project Page";
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>

    <title>ПроектыОписание</title>
    <link rel="stylesheet" href="~/css/ProjectItem.css" media="screen">

</head>
<body background="@Model._imagePath" class="u-xl-mode" data-lang="ru">
  
    <section class="u-clearfix u-section-1" id="sec-edcb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <img class="u-container-layout u-valign-middle u-container-layout-1" src="~/images/@Model._Item.ImageProjectPath" alt="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">

                                    <div class="u-container-layout u-container-layout-2">
                                        <h2 class="u-text u-text-1">@Model._Item.Title</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-3">
                                    <div class="u-container-layout u-container-layout-3">
                                        <p class="u-text u-text-2">@Model._Item.Desription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
