@model WebCRMSkillProfi.ViewModels.ServiceViewModel
@{
    ViewData["Title"] = "Service Page";
}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <title>Услуги</title>
    <link rel="stylesheet" href="~/css/Service.css" media="screen">
</head>

<body background="~/images/@Model._imagePath" class="u-xl-mode" data-lang="ru">

    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-d164">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-left u-text u-text-1">Услуги</h2>
            <div class="u-accordion u-spacing-10 u-accordion-1">
                @for (int i = 0; i < Model._ServiceList.Count; i++)
                {
                    <div class="u-accordion-item">
                        <a class="active u-accordion-link u-active-palette-1-base u-button-style u-hover-palette-1-light-1 u-palette-1-light-1 u-radius-14 u-accordion-link-1" id="link-accordion-0781" aria-controls="accordion-0781" aria-selected="true">
                            <span class="u-accordion-link-text">@Model._ServiceList[i].TitleService</span><span class="u-accordion-link-icon u-icon u-icon-rectangle u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f4c1"></use></svg><svg class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-f4c1" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
                        </a>
                        <div class="u-accordion-active u-accordion-pane u-container-style u-shape-rectangle u-accordion-pane-1" id="accordion-0781" aria-labelledby="link-accordion-0781">
                            <div class="u-container-layout u-container-layout-1">
                                <p class="u-text u-text-2">@Model._ServiceList[i].DesriptionService</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

</body>
</html>
