@model WebCRMSkillProfi.ViewModels.BlogViewModel
@{
    ViewData["Title"] = "Blog Page";
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <title>БлогСтраница</title>
    <link rel="stylesheet" href="~/css/BlogItem.css" media="screen">
</head>

<body background="@Model._imagePath" class="u-xl-mode" data-lang="ru">
   
    <section class="u-clearfix u-section-1" id="sec-2527">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-1">@Model._Item.TitleBlog</h2>
                                <p class="u-text u-text-2">@Model._Item.DateBlog</p>
                                <p class="u-text u-text-3">@Model._Item.DesriptionBlog</p>
                            </div>
                        </div>
                        <img class="u-container-layout u-valign-middle u-container-layout-2" src="~/images/@Model._Item.ImageBlogPath" alt="" data-image-width="1080" data-image-height="1080">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
